.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;

  color: var(--color-light);
  font-size: 20px;

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-dark);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-accent);
  }

  &--transparent {
    color: var(--color-black);
    background: transparent;
  }
}
